.title {
    color: rgb(188, 163, 116);
    font-size: 2rem;
    text-align: center;
}

.subtitle, a {
    color:rgb(141, 185, 204);
    text-align: center;
    font-size: 0.9em;
    text-decoration: none;
}

.background {
    background-color: #2c2c2c;
}

.main {
    height: 125vh;
    width: 100vw;
    background-color: #2c2c2c   ;
    overflow-y: scroll;
}

.image {
    border: 2px solid white;
    margin-right: 100px;
    margin-left: 50px;
    width: 1600px;
}

.mainTitle {
    color: rgb(191, 141, 50);
    font-size: 3rem;
    margin-right: 500px;
    align-self: center;
}

.flexContainer {
    display: flex;
    justify-content: center;
    margin-right: 75px;
}

.artworks {
    text-align: center;
    margin-bottom: 45px;
    border-bottom: 1px solid white;
}

.material {
    color: white;
    font-size: 0.8em;
    font-weight: 200;
}

.artwork {
    height: 400px;
    width: 400px;
}

.artShow {
    width: 400px;
    height: auto;
}

.toCentre {
    display: flex;
    justify-content: center;
}

.artworkDetails {
    margin-left: 100px;
    margin-right: 50px;
    color: rgb(228, 199, 140);
}

.artworkInfo {
    color: rgb(162, 182, 196);
    font-style: italic;
    font-weight: 200;
}

.button {
    width: 150px;
    height: 50px;
    border: 2px solid rgb(105, 40, 39);
    background-color: #4d4d4d;
    color: rgb(163, 123, 123);
    font-size: 1.2em;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
}
